# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\CourseWork-72\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
